.form{
    margin-top: 10px;
    width: 22%;
    position: relative;
    font-family: Arial;

}
.form select{
    width: 100%;
    height: 1.5pc;
    border-radius: 1pc;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);   
    
}
